body.application-dashboard {
  background-color: #fff !important;
}
.app-container > nav, .app-container > navbar {
  display: none;    
}
.navbar-nav:first-child {
  display: none;
}
#kibana-primary-navbar {
  background-color: #FFF;
}
.navbar-timepicker {
  background-color: #FFF;
}
.navbar-nav > li.navbar-timepicker-container > a {
  color: #777
}
.gridster {
  background-color: #FFF !important;
}
.vis-col-wrapper {
    margin-right: 0 !important;
}
.vis-col-wrapper .chart.tilemap.leaflet-container {
    margin-bottom: 0;
}

.panel > .panel-heading > .btn-group {
    display: none;
}