<div ng-if="url">
  <iframe ng-src="{{url}}" style="height: {{iframeH}}; width: {{iframeW}}; border: 0;"></iframe>
</div> 
<div ng-if="vis.type.requiresSearch && esResp.hits.total === 0 && !url" 
  class="text-center visualize-error visualize-chart">
  <div class="item top"></div>
  <div class="item">
    <h2><i class="fa fa-meh-o"></i></h2>
    <h4>No results found</h4>
  </div>
  <div class="item bottom"></div>
</div>
<div ng-hide="vis.type.requiresSearch && esResp.hits.total === 0 || url" class="visualize-chart"></div>
